@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "brains";
  font-weight: 300;
  src: url('/fonts/JetBrainsMonoNL-Regular.ttf');
}
@font-face {
  font-family: "manrope";
  font-weight: 300;
  src: url('/fonts/Manrope-SemiBold.ttf');
}
@font-face {
  font-family: "rubik";
  font-weight: 300;
  src: url('/fonts/Rubik-Regular.ttf');
}

@layer base {
  html::-webkit-scrollbar {
    display: none;
  }
  html {
    @apply p-0 m-0 font-rubik text-text bg-gradient-to-r from-black to-background;
  }
  html,
  body {
    @apply h-full w-screen p-0 m-0;
  }
  ul,
  ol {
    @apply list-none p-0;
  }
  li {
    @apply ps-0;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h1, h2, b, a, strong {
    @apply text-primary drop-shadow-glow;
  }
  article {
    @apply max-w-2xl w-full p-6 rounded-lg bg-gradient-to-r from-background to-secondary border-solid border-2 border-secondary;
  }
}

@layer components {
  .headnav {
   @apply text-2xl w-full items-center pt-4 pb-6 px-6 flex flex-wrap gap-6 justify-between z-20;
  }
  .headnav a {
    @apply hover:text-shadow-green transition-all ease-linear duration-300;
  }
  
  .links {
    @apply flex gap-4;
  }
  .links li a {
    @apply text-text text-opacity-100 hover:text-opacity-20 transition-all ease-linear duration-100 drop-shadow-none;
  }
  
  .tags {
    @apply flex flex-wrap gap-4 mt-5;
  }
  .tags > * {
    @apply px-2 py-1 rounded-xl bg-accent text-text;
  }
  .tags::-webkit-scrollbar {
    display: none;
  }
  .prose :is(h1, h2, h3, h4, h5, h6) {
    @apply my-3 text-shadow-none; 
  }
  .prose :not(h1, h2, h3, h4, h5, h6) {
    @apply text-base md:text-lg transition-all ease-linear duration-300; 
  }
  .prose :not(h1, h2, h3, h4, h5, h6, b, a, strong) {
    @apply text-text2; 
  }
  .prose p:not(:is(h1, h2, h3, h4, h5, h6) + p) {
    @apply mt-7
  }
  .prose :is(ol) {
    @apply list-decimal pl-5;
  }
  .prose :is(ul) {
    @apply list-[circle] pl-5;
  }
  .prose :is(ul, ol) li {
    @apply my-2 px-2;
  }
  .prose code {
    @apply font-brains text-text;
  }
  .prose code:not(:is(pre code)) {
    @apply bg-accent px-2 py-1 rounded-md;
  }
  .prose pre {
    @apply mt-3 overflow-x-scroll p-4 rounded-md max-w-full;
    tab-size: 2;
  }
  .prose pre::-webkit-scrollbar {
    @apply bg-accent;
  }
  .prose pre::-webkit-scrollbar-thumb {
    @apply bg-background;
  }
}
