@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html::-webkit-scrollbar { display: none; }
  html {
    @apply h-screen w-screen p-0 m-0 text-text bg-background font-rubik;
  }
  html.dark {
    @apply text-darktext bg-darkbackground;
  }
  html.dark .astro-code,
  html.dark .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
  body {
    @apply p-0 m-0 w-screen h-full;
  }

  h1, h2 { @apply font-bold transition-all ease-linear duration-300; }
  h1 { @apply text-4xl md:text-6xl; }
  h2 { @apply text-3xl md:text-4xl; }
  span { @apply text-text3 text-sm md:text-base; }
  span.dark { @apply text-darktext3 text-sm md:text-base; }
  p, li { @apply text-text2 dark:text-darktext2 text-lg md:text-xl; }
  p.dark, li.dark { @apply text-darktext2 text-lg md:text-xl; }
  li {@apply text-text3;}
  li.dark {@apply text-darktext3;}
  main { @apply max-w-4xl mx-auto; }
  section {
    @apply h-full w-full grid gap-4 py-20 items-center;
  }
  pre {
    @apply font-jetbrains;
  }
}

@layer components {
  .hidden {
    display: none;
  }
  .show {
    display: block;
  }
  .instructions {
    @apply w-full py-6 mb-10 rounded-lg 
            bg-gradient-to-r from-background to-accent dark:from-darkbackground dark:to-darkaccent
            border-solid border-2  border-accent dark:border-darkaccent;
  }
  .headnav {
   @apply text-xl md:text-2xl font-[800] dark:text-darkprimary text-primary w-screen items-center pt-4 pb-6 px-6 flex gap-6 z-20;
  }
  .headnav a {
    @apply hover:scale-110 transition-all ease-linear duration-100;
  }
  .tags {
    @apply flex flex-wrap gap-4 mt-5;
  }
  .tags > * {
    @apply px-2 py-1 rounded-sm bg-accent dark:bg-darkaccent text-text dark:text-darktext;
  }
  .tags::-webkit-scrollbar {
    display: none;
  }
  .btn {
    @apply px-2 bg-background dark:bg-darkbackground text-text2 dark:text-darktext2 rounded hover:bg-primary dark:hover:bg-darkprimary hover:text-background dark:hover:text-darkbackground;
  }
  .prose {
    @apply w-full;
  }
  .prose :is(b, a, strong) {
    @apply text-primary dark:text-darkprimary;
  }
  .prose :is(h1, h2, h3, h4, h5, h6) {
    @apply my-3 capitalize font-bold;
  }
  .prose :not(h1, h2, h3, h4, h5, h6) {
    @apply text-base md:text-lg;
  }
  .prose :not(h1, h2, h3, h4, h5, h6, b, a, strong) {
    @apply text-text2 dark:text-darktext2;
  }
  .prose p:not(:is(h1, h2, h3, h4, h5, h6) + p) {
    @apply mt-7
  }
  .prose :is(ol) {
    @apply list-decimal pl-5;
  }
  .prose :is(ul) {
    @apply list-['>'] pl-5;
  }
  .prose a {
    @apply underline;
  }
  .prose img {
    @apply w-4/5 mx-auto;
  }
  .prose :is(ul, ol) li {
    @apply my-2 px-2;
  }
  .prose code:not(:is(pre code)) {
    @apply bg-accent dark:bg-darkaccent px-2 rounded-md text-text dark:text-darktext;
  }
  .prose pre {
    @apply mt-3 overflow-x-scroll p-4 rounded-md max-w-full;
    tab-size: 2;
  }
  .prose pre::-webkit-scrollbar {
    @apply bg-accent dark:bg-darkaccent;
  }
  .prose pre::-webkit-scrollbar-thumb {
    @apply bg-background dark:bg-darkbackground;
  }
}
