@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "brains";
  font-weight: 300;
  src: url('/fonts/JetBrainsMonoNL-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: "rubik";
  font-weight: 300;
  src: url('/fonts/Rubik-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: "rubik";
  font-weight: 800;
  src: url('/fonts/Rubik-Bold.ttf');
  font-display: swap;
}

@layer base {
  html::-webkit-scrollbar {
    display: none;
  }
  html {
    @apply w-screen p-0 m-0 font-rubik font-[300] text-text bg-background;
  }
  html,
  body {
    @apply h-full w-screen p-0 m-0;
  }
  ul, ol {
    @apply list-none p-0;
  }
  li {
    @apply ps-0;
  }
  h1, h2, h3, h4 {
    @apply font-[800];
  }
  h1 {
    @apply text-3xl md:text-5xl;
  }
  h2 {
    @apply text-2xl md:text-3xl;
  }
  h3 {
    @apply text-xl md:text-2xl;
  }
  h4 {
    @apply text-lg md:text-xl;
  }
  span {
    @apply text-text2;
  }
  /* article {
    @apply max-w-4xl w-full p-6 rounded-lg bg-gradient-to-r from-background to-secondary border-solid border-2 border-secondary;
  } */
}

@layer components {
  .headnav {
   @apply text-xl md:text-2xl font-[800] text-primary w-screen items-center pt-4 pb-6 px-6 flex gap-6 z-20;
  }
  .headnav a {
    @apply hover:scale-110 transition-all ease-linear duration-100;
  }
  .tags {
    @apply flex flex-wrap gap-4 mt-5;
  }
  .tags > * {
    @apply px-2 py-1 rounded-sm bg-accent text-text;
  }
  .tags::-webkit-scrollbar {
    display: none;
  }
  .prose {
    @apply w-screen px-12;
  }
  .prose :is(h1, h2, b, a, strong) {
    @apply text-primary;
  }
  .prose :is(h1, h2, h3, h4, h5, h6) {
    @apply my-3 capitalize;
  }
  .prose :not(h1, h2, h3, h4, h5, h6) {
    @apply text-base md:text-lg;
  }
  .prose :not(h1, h2, h3, h4, h5, h6, b, a, strong) {
    @apply text-text2;
  }
  .prose p:not(:is(h1, h2, h3, h4, h5, h6) + p) {
    @apply mt-7
  }
  .prose :is(ol) {
    @apply list-decimal pl-5;
  }
  .prose :is(ul) {
    @apply list-disc pl-5;
  }
  .prose a {
    @apply underline;
  }
  .prose img {
    @apply w-4/5 mx-auto;
  }
  .prose :is(ul, ol) li {
    @apply my-2 px-2;
  }
  .prose code {
    @apply font-brains;
  }
  .prose code:not(:is(pre code)) {
    @apply bg-secondary px-2 rounded-md text-text;
  }
  .prose pre {
    @apply mt-3 overflow-x-scroll p-4 rounded-md max-w-full;
    tab-size: 2;
  }
  .prose pre::-webkit-scrollbar {
    @apply bg-accent;
  }
  .prose pre::-webkit-scrollbar-thumb {
    @apply bg-background;
  }
}
