---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import Title from "../components/Title.astro";
---

<Layout title="PerfectLine" description="Premium, Interactive, Project-Based Courses.">
  <div class="my-10 flex flex-col items-center text-center">
    <Icon class="hidden dark:show" name="logos/dark-logo" size={156}/>
    <Icon class="dark:hidden" name="logos/light-logo" size={156}/>
    <Title description="Coding Academy" subdescription="Premium, Interactive, Project-Based Courses."/>
    <p>Unlock your potential in the exciting world of software development and embark on a transformative educational journey.</p>
  </div>
</Layout>
