---
import Layout from "../layouts/Layout.astro";
import Window from "../components/Window.astro";
import Title from "../components/Title.astro";
---

<Layout title="PerfectLine" description="Premium, Interactive, Project-Based Courses.">
  <main class="flex flex-col items-center text-center px-12">
    <Title description="Coding Academy" subdescription="Premium, Interactive, Project-Based Courses."/>
    <Window>
      <div class="flex">
        <span class="text-md md:text-xl max-w-fit inline-block animate-typing overflow-hidden whitespace-nowrap w-fit">&gt; Created By Ethan Okamura</span>
        <div class="animate-blink text-md md:text-xl">_</div>
      </div>
    </Window>
    <h2><span class="text-red-500">Complex</span> Problems. <span class="text-green-300">Simple</span> Solutions.</h2>
    <Window>
      <label for="changes" class="text-primary text-lg md:text-xl font-[800]">Lastest Changes:</label>
      <ul id="changes" class="text-lg md:text-xl">
        <li><span>March 23, 2024 - </span> Major UI Changes</li>
        <li><span>March 23, 2024 - </span> Optimized SEO</li>
        <li><span>March 21, 2024 - </span> Added Linked List Course</li>
      </ul>
    </Window>
  </main>
</Layout>
