---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
---

<Layout title="PerfectLine" description="Premium, Interactive, Project-Based Courses.">
  <div class="my-10 flex flex-col items-center text-center">
  <svg type="text/svg" class="w-48 dark:hidden" src="/logos/light-logo.svg" alt="light logo"></svg>
    <svg type="text/svg" class="w-48 hidden dark:show" src="/logos/dark-logo.svg" alt="dark logo"></svg>
    <Title description="Coding Academy" subdescription="Premium, Interactive, Project-Based Courses."/>
    <p>Unlock your potential in the exciting world of software development and embark on a transformative educational journey.</p>
  </div>
</Layout>
