---
interface Props {
	title: string;
  path: string;
}
const { title, path } = Astro.props;
---

<nav class={`headnav ${path === "/" ? "justify-end" : "justify-between"} `}>
  { path === "/" ? <></> : <a href="/">{title}</a> }
  { path === "/" ? <a href="/courses">Start Learning</a> : <a href="/courses">Courses</a> }
</nav>
