---
interface Props {
	title: string;
  path: string;
}
const { title, path } = Astro.props;
---

<nav class={`headnav ${path === "/" ? "justify-end" : "justify-between"} `}>
  { path === "/" ? <></> : <a class="font-rubik font-[800]" href="/">{title}</a> }
  { path === "/" ? <a class="font-rubik font-[800]" href="/tutoring">Private Tutoring</a> : <></> }
  { path === "/" ? <a class="font-rubik font-[800]" href="/courses">Start Learning</a> : <a class="font-rubik font-[800]" href="/courses">Courses</a> }
</nav>
