---
interface Props {
	title: string;
  path: string;
}
import { Icon } from 'astro-icon/components'

const { path } = Astro.props;
---

<nav class={`font-[800] headnav ${path === "/" ? "justify-end" : "justify-between"} text-lg md:text-2xl`}>
  { path === "/" ? <></> : <a href="/"><Icon name="ic:round-home" /></a> }

  <div class="flex gap-4 md:gap-10">
    <a href="/about">About</a>
    <a href="/tutoring">Tutoring</a>
    <a href="/courses">Courses</a>
  </div>
  <!-- <a class="font-rubik font-[800]" href="/roadmap">Roadmap</a> -->
</nav>
