---
interface Props {
	title: string;
  path: string;
}

const { path } = Astro.props;
---

<nav class={`headnav ${path === "/" ? "justify-end" : "justify-between"} text-lg md:text-2xl`}>
  { path === "/" ? <></> : <a href="/" class="flex gap-2 items-center">Home</a> }

  <div class="flex gap-4 md:gap-10">
    <a href="/about/">About</a>
    <a href="/tutoring/">Tutoring</a>
    <a href="/courses/">Courses</a>
  </div>
</nav>
