---
interface Props {
	title: string;
  path: string;
}
const { title, path } = Astro.props;
---

<nav class={`headnav ${path === "/" ? "justify-end" : "justify-between"} `}>
  { path === "/" ? <></> : <a href="/">{title}</a> }
  <div class="flex gap-4">
    <a href="/server">Our Server</a>
    <a href="/courses">Courses</a>
  </div>
	<!-- <Toggle /> -->
</nav>
