---
import { formatPages } from "../utils/index.js";

interface Props {
	url: string;
}
const { url } = Astro.props;
const slug = url.split('/')[3];
let pages;
switch (slug) {
  case 'cpp-101': pages = await Astro.glob('../pages/courses/cpp/cpp-101/*.md'); break;
  case 'practice': pages = await Astro.glob('../pages/courses/cpp/practice/*.md'); break;
  case 'slot-machine': pages = await Astro.glob('../pages/courses/cpp/slot-machine/*.md'); break;
  case 'webdev-101': pages = await Astro.glob('../pages/courses/web/webdev-101/*.md'); break;
  case 'git-101': pages = await Astro.glob('../pages/courses/web/git-101/*.md'); break;
  default: pages = await Astro.glob('../pages/courses/*/*.md');
}
const formattedPages = formatPages(pages, {
  filterOutDrafts: true,
  sortByOrder: true,
});
---

<div class="flex flex-wrap gap-2 mb-10 justify-start">
  <div class="text-lg">
    <span class="text-text2">01:</span> 
    <a class="text-primary" href="../">Intro</a>
  </div>
  {formattedPages.map((page: any, index: number) => 
    <div class="text-lg flex gap-2 flex-nowrap">
      {index + 2 < 10 ? 
        <span class="text-text2"> 0{index + 2}:</span> 
      :
        <span class="text-text2">{index + 2}:</span>
      }
      <a class="flex gap-4 text-primary" href={`${page.url}`}>{page.frontmatter.title}</a>
    </div>
  )}
</div>