---
import * as config from '../utils/config.js';
interface Props {
	description: string;
	subdescription: string;
}
const { description, subdescription } = Astro.props;
---

<div class="my-10">
  <h1 class="font-rubik font-[800] text-text drop-shadow-none md:text-6xl text-3xl mb-6 transition-all ease-linear duration-300">&lcub; {config.title} &rcub;</h1>
  <h2 class="font-rubik font-[300] italic">{description}</h2>
  { subdescription == "" ? <></> : <h3 class="font-rubik font-[300] text-text2 text-lg">{subdescription}</h3> }
</div>