<div class="bg-secondary my-10 rounded w-fit scale-75 md:scale-100 items-start flex flex-col gap-4">
  <div class="flex gap-2 w-full p-3 border-b-2 border-accent">
    <div class="w-4 h-4 rounded-full bg-red-400 flex items-center justify-center"><div class="w-[0.3rem] h-[0.3rem] rounded-full bg-red-500"></div></div>
    <div class="w-4 h-4 rounded-full bg-yellow-200"></div>
    <div class="w-4 h-4 rounded-full bg-green-300"></div>
  </div>
  <div class="text-start px-6 pb-6">
    <slot/>
  </div>
</div>