---
import Layout from "./Layout.astro";
import Window from "../components/Window.astro";
import Title from '../components/Title.astro';
---

<Layout>
  <main class="grid justify-center pb-20 pt-10">
    <header class="grid max-w-4xl w-full text-center items-start mx-auto gap-4 p-6 mb-10 ">
      <Title description="Coding Academy" subdescription="Premium, Interactive, Project-Based Courses."/>
      <Window width="w-fit">
        <h4 class="text-text"></h4>
        <div class="flex">
          <span class="text-text2 max-w-fit inline-block animate-typing overflow-hidden whitespace-nowrap w-fit">&gt; Created By Ethan Okamura</span>
          <div class="animate-blink">_</div>
        </div>

      </Window>
    </header>
    <article>
      <div class="prose text-xl">
        <slot />
      </div>
    </article>
  </main>
</Layout>
