---
// components
import Layout from './Layout.astro';
import Title from '../components/Title.astro';

// utils
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <main class="grid justify-center pb-20">
    <Title description={frontmatter.title} subdescription={frontmatter.description}/>
    <article>
      <div class="prose">
        <slot/>
      </div>
    </article>
  </main>
</Layout>
