---
// Utils
import { formatCourses } from "../../utils/index.js";
import { getCollection, getEntry } from 'astro:content';

// Components
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import Head from "../../components/Head.astro";

const allCourses = await getCollection('courses');

const formattedCourses = formatCourses(allCourses, "all", {
  filterOutDrafts: true,
  filterOutTags: false,
  sortByOrder: true,
});
---

<Head title="Courses" description="A List of Courses We Offer"/>
<Layout>
  <section class="text-center grid gap-4">
    <h1 class="text-4xl">Our Courses:</h1>
    <div class="flex flex-wrap items-start justify-around gap-6 p-5">
      {formattedCourses.map((course:any) =>
        <Card data={ course.data } url={ `/courses/${course.data.lang}/${course.data.course}/intro` }/>
      )}
    </div>
  </section>
</Layout>
